/**
 * \proj ${projectDescription} (${projectName})
 * \file Файл исходного кода ${sourceFileName}
 *
 * Copyright (c) ${year} Rodion Kolovanov
 */

#include <${classHeaderIncludePath}>

namespace ${projectNamespace}
{
    namespace ${namespaceName}
    {
    } // namespace ${namespaceName}
} // namespace ${projectNamespace}

/*** End of file ${sourceFileName} ***/
