/**
 * \proj ${projectDescription} (${projectName})
 * \file Файл исходного кода ${testSourceFileName}
 * \brief Тесты класса ${className}
 *
 * Copyright (c) ${year} Rodion Kolovanov
 */

#include <${classHeaderIncludePath}>
#include <gtest/gtest.h>

using namespace ${projectNamespace}::${namespaceName};

TEST(${testName}, Common)
{

}

int main(int argc, char** argv)
{
  testing::InitGoogleTest(&argc, argv);
  return RUN_ALL_TESTS();
}
