/**
 * \proj ${projectDescription} (${projectName})
 * \file Заголовочный файл ${headerFileName}
 * \brief Класс ${className}
 *
 * Copyright (c) ${year} Rodion Kolovanov
 */

#ifndef ${header}
#define ${header}

namespace ${projectNamespace}
{
  namespace ${namespaceName}
  {
    class ${className}
    {
    }; // class ${className}
  } // namespace ${namespaceName}
} // namespace ${projectNamespace}

#endif // ${header}
